// add font here .
 @font-face {
    font-family: iranSans;
    src: url(../assets/font/IRANSansXFaNum-Regular.woff);
}


@mixin flex-manager($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    body {
        margin: 0;
        padding: 0;
        font-family: iranSans;
        direction: rtl;            
        .main-container {
            @include flex-manager(row, unset, unset);
            .right-section {
                .sidebar {
                @include flex-manager(column, unset, space-between);
                width: 240px;
                height: 100%;
                background-color: #F1F2F7;
                position: fixed;
                .company-name {
                    position: fixed;
                    top: 0;
                }
                    .menu-options {
                    @include flex-manager(column, unset, unset);
                    margin-top: 80px;
                    a {
                        color: gray;
                        text-decoration: none;
                        padding: 5%;
                    }
                    a:hover {
                        color: #1D577A;
                        background-color: #A6ABC8;
                    }
                    a img:hover {
                        background-color: #1D577A;
                    }
                    .menu, .others {
                        padding: 5%;
                        color: gray;
                    }
                    }
                    .company-logo {
                        position: fixed;
                        bottom: 0;
                        @include flex-manager(column, unset, unset);
                    }
                }
            }
            .left-section {
                position: relative;
                right: 260px;
                // left: 20px;
                .navbar {
                        @include flex-manager(row, space-between, unset);
                        // border-bottom: 1px solid lightgray;
                        position: sticky;
                        top: 0;
                        padding: 2%;
                        background-color: white;
                        z-index: 2;
                    .search-box {
                        input {
                            background-color: #F6F6FB;
                            border: none;
                            border-radius: 5px;
                            width: 600px;
                            padding: 1.5%;
                        }
                        img {
                            width: 20px;
                            position: relative;
                            left: 40px;
                        }
                    }
                    .user-account {
                        position: fixed;
                        top: 10px;
                        left: 20px;
                        // ?????
                        .user-image {
                            width: 60px;
                            border-radius: 100%;
                        }
                        a {
                            text-decoration: none;
                            color: black;
                        }
                        .arrow-down-icon {
                            width: 20px;
                        }
                    }
                }
                .main-content {
                    @include flex-manager(column, unset, unset);
                    .row-1 {
                        .row-1-1 {
                            // position: fixed;
                            p {
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                        .row-1-2 {
                            // position: fixed;
                            a {
                                text-decoration: none;
                                color: gray;
                                img {
                                    padding: 3%;
                                }
                            }
                        }
                        .row-1-3 {
                            .status-progress {
                                @include flex-manager(row, center, center);
                                width: 600px;
                                position: relative;
                                right: 480px;
                                .steps {
                                @include flex-manager(column, center, center);
                                padding: 0 25%;
                                text-align: center;
                                i {
                                    font-size: 35px;
                                    border-radius: 100%;
                                    color: white;
                                    padding: 3% 14%;
                                    padding-top: 10px;
                                }
                                    p {
                                        width: 100px;
                                    }
                                }
                                .step-1, .step-2 {
                                    i {
                                    background-color: #0080C9;
                                    }
                                }
                                .step-3, .step-4 {
                                    i {
                                        background-color: gray;
                                    }
                                }
                                .progress-line {
                                    // position: absolute;
                                    // height: 2px;
                                    position: absolute;
                                    top: 30px;
                                    // right: 100px;
                                    // left: 100px;
                                    height: 2px;
                                    background-color: lightgray;
                                    z-index: -1;
                                    width: 1250px;
                                }
                            }
                        }
                    }
                    .four-boxes {
                        display: flex;
                        margin-right: 4%;
                    .column-1 {
                        @include flex-manager(column, unset, unset);
                        width: 1000px;
                        .subject-box {
                            border: 1px solid lightgray;
                            border-radius: 10px;
                            padding: 1%;
                            // width: 100%;
                            margin: 1%;
                            .line-1 {
                                @include flex-manager(row, space-between, center);
                                span {
                                    color: #0080C9;
                                    border: 1px solid #0080C9;
                                    border-radius: 10px;
                                    padding: 1% 2%;
                                }
                            }
                            p {
                                padding: 1% 0;
                            }
                        }

                            .chat-box {
                            border: 1px solid lightgray;
                            border-radius: 10px;
                            width: 950px;
                            padding: 2%;
                            margin: 2% 0;
                            // margin-left: 5%;
                            .nav-tabs {
                                border: 1px solid #EDEDED;
                                background-color: #EDEDED;
                                border-radius: 30px;
                                padding: 0.5% 1%;
                                .nav-link {
                                    border-radius: 30px;
                                    color: gray;
                                    border: none;
                                }
                                .nav-link:hover {
                                    border: none;
                                }
                                .nav-link.active {
                                    color: black;

                                }
                            }



                            .chat-header {
                                border: 1px solid lightgray;
                                background-color: lightgray;
                                border-radius: 20px;
                                padding: 0.5% 1%;
                                a {
                                    color: gray;
                                    text-decoration: none;
                                    padding: 0.5% 1%;
                                }
                                a.active {
                                    color: black;
                                    background-color: white;
                                    border-radius: 20px;
                                }

                            }
                            .conversations {
                                border-bottom: 1px solid lightgray;
                                .message-1, .message-3 {
                                    padding-top: 30px;
                                    .message {
                                    color: white;
                                    background-color: #1D7AD6;
                                    padding: 1.5% 2%;
                                    border-top-left-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                    border-bottom-right-radius: 0%;
                                    border-top-right-radius: 20px;
                                    }
                                    i {
                                        font-size: 30px;
                                        background-color: #EDEDED;
                                        border-radius: 100%;
                                        padding: 0 10px;
                                        padding-top: 5px;
                                    }
                                    p {
                                        margin-right: 50px;
                                        margin-top: 10px;
                                        .date-and-time {
                                            color: lightgray;
                                        }
                                    }
                                }
                                .message-2, .internal-notes {
                                    direction: ltr;
                                    .message {
                                        color: gray;
                                        background-color: #EDEDED;
                                        padding: 1.5% 2%;
                                        border-top-left-radius: 20px;
                                        border-bottom-left-radius: 0%;
                                        border-bottom-right-radius: 20px;
                                        border-top-right-radius: 20px;
                                        direction: rtl;
                                    }
                                    img {
                                        width: 50px;
                                    }
                                        p {
                                            margin-left: 50px;
                                            margin-top: 10px;
                                        .date-and-time {
                                            color: lightgray;
                                        }
                                    }
                                }
                            }
                            .internal-chats {
                                                               .message-1, .message-3 {
                                    padding-top: 30px;
                                    .message {
                                    color: white;
                                    background-color: #1D7AD6;
                                    padding: 1.5% 2%;
                                    border-top-left-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                    border-bottom-right-radius: 0%;
                                    border-top-right-radius: 20px;
                                    }
                                    i {
                                        font-size: 30px;
                                        background-color: #EDEDED;
                                        border-radius: 100%;
                                        padding: 0 5px;
                                    }
                                    p {
                                        margin-right: 50px;
                                        margin-top: 10px;
                                        .date-and-time {
                                            color: lightgray;
                                        }
                                    }
                                }
                                .message-2, .internal-notes {
                                    direction: ltr;
                                    .message {
                                        color: gray;
                                        background-color: #EDEDED;
                                        padding: 1.5% 2%;
                                        border-top-left-radius: 20px;
                                        border-bottom-left-radius: 0%;
                                        border-bottom-right-radius: 20px;
                                        border-top-right-radius: 20px;
                                        direction: rtl;
                                    }
                                    img {
                                        width: 50px;
                                    }
                                        p {
                                            margin-left: 50px;
                                            margin-top: 10px;
                                        .date-and-time {
                                            color: lightgray;
                                        }
                                    }
                                } 
                            }
                            .input-section {
                                margin-top: 3%;
                                border: 1px solid lightgray;
                                border-radius: 10px;
                                padding: 2%;
                                form {
                                    textarea {
                                        border: none;
                                    }
                                }
                                .inputOptions-sendButton {
                                    @include flex-manager(row, space-between, center);
                                    .input-options {
                                        button {
                                            i {
                                                color: gray;
                                            }
                                        }
                                    }
                                    .send-button {
                                        button {
                                            background-color: #0086D8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    }
                    .column-2 {
                        // @include flex-manager(row, unset, unset);
                        width: 500px;
                        
                        .ticket-detail-box {
                            border: 1px solid lightgray;
                            border-radius: 10px;
                            height: 285px;
                            margin: 2%;
                            .ticket-detail-header {
                                border-bottom: 1px solid lightgray;
                                padding: 2%;
                            }
                            .ticket-detail {
                                color: gray;
                                padding: 1%;
                                line-height: 35px;
                            }
                        }
                        .status-management {
                                border: 1px solid lightgray;
                                border-radius: 10px;
                                // width: 30%;
                                height: 250px;
                                margin: 2%;
                                margin-top: 6%;
                            .status-management-header {
                                border-bottom: 1px solid lightgray;
                                padding: 2%;
                                color: #1D7AD6;
                            }
                            .status-management-content {
                                padding: 2%;
                            }
                        }
                        .transfer-reminder {
                            width: 460px;
                            margin-right: 2%;
                            button {
                                display: flex;
                                justify-content: flex-start;
                                border: 1px solid lightgray;
                            }
                        }
                    }
                }
                .footer {
                    // position: fixed;
                    // bottom: 0;
                    p {
                        color: gray;
                    }
                }
            }
        }
    }
}




