// add font here .



@mixin flex-manager($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    body {
        margin: 0;
        padding: 0;
        //font-family: ;
        direction: rtl;
        .main-container {
            @include flex-manager(row, unset, unset);
            .right-section {
                .sidebar {
                @include flex-manager(column, unset, space-between);
                width: 240px;
                height: 100%;
                background-color: #F1F2F7;
                position: fixed;
                .company-name {
                    position: fixed;
                    top: 0;
                }
                    .menu-options {
                    @include flex-manager(column, unset, unset);
                    margin-top: 80px;
                    a {
                        color: gray;
                        text-decoration: none;
                        padding: 5%;
                    }
                    a:hover {
                        color: #1D577A;
                        background-color: #707FDD;
                    }
                    a img:hover {
                        background-image: #1D577A;
                    }
                    .menu, .others {
                        padding: 5%;
                        color: gray;
                    }
                    }
                    .company-logo {
                        position: fixed;
                        bottom: 0;
                        @include flex-manager(column, unset, unset);
                    }
                }
            }
            .left-section {
                position: relative;
                right: 260px;
                // left: 20px;
                .navbar {
                        @include flex-manager(row, unset, space-between);
                        // border-bottom: 1px solid lightgray;
                        // position: sticky;
                        // top: 0;
                        // right: 0;
                        padding: 2%;
                    .search-box {
                        input {
                            background-color: #F6F6FB;
                            border: none;
                            border-radius: 5px;
                            width: 400px;
                        }
                    }
                    .user-account {
                        position: fixed;
                        left: 20px;
                        .user-image {
                            width: 60px;
                            border-radius: 100%;
                        }
                        a {
                            text-decoration: none;
                            color: black;
                        }
                        .arrow-down-icon {
                            width: 20px;
                        }
                    }
                }
                .main-content {
                    @include flex-manager(column, unset, unset);
                    .row-1 {
                        .row-1-1 {
                            p {
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                        .row-1-2 {
                            a {
                                text-decoration: none;
                                color: gray;
                                img {
                                    padding: 3%;
                                }
                            }
                        }
                        .row-1-3 {
                            .status-progress {
                                @include flex-manager(row, center, center);
                                width: 600px;
                                position: relative;
                                right: 480px;
                                .steps {
                                @include flex-manager(column, center, center);
                                padding: 0 25%;
                                text-align: center;
                                i {
                                    font-size: 40px;
                                    border-radius: 100%;
                                    color: white;
                                    padding: 1% 9%;
                                }
                                    p {
                                        width: 100px;
                                    }
                                }
                                .step-1, .step-2 {
                                    i {
                                    background-color: #0080C9;
                                    }
                                }
                                .step-3, .step-4 {
                                    i {
                                        background-color: gray;
                                    }
                                }
                                .progress-line {
                                    // position: absolute;
                                    height: 2px;
                                }
                            }
                        }
                    }
                    .row-2 {
                        @include flex-manager(row, unset, unset);
                        .subject-box {
                            border: 1px solid lightgray;
                            border-radius: 10px;
                            padding: 5%;
                            width: 80%;
                            .line-1 {
                                @include flex-manager(row, space-between, center);
                                span {
                                    color: #0080C9;
                                    border: 1px solid #0080C9;
                                    border-radius: 10px;
                                    padding: 1%;
                                }
                            }
                            p {
                                padding: 1% 0;
                            }
                        }
                        .ticket-detail-box {
                            border: 1px solid lightgray;
                            border-radius: 10px;
                            .ticket-detail-header {
                                border-bottom: 1px solid lightgray;
                            }
                            .ticket-detail {
                                color: gray;
                                padding: 1%;
                                line-height: 35px;
                            }
                        }
                    }
                    .row-3 {
                        .chat-box {
                            border: 1px solid lightgray;
                            border-radius: 20px;
                            width: 80%;
                            padding: 2%;
                            .chat-header {
                                border: 1px solid lightgray;
                                background-color: lightgray;
                                border-radius: 20px;
                                padding: 0.5% 1%;
                                a {
                                    color: gray;
                                    text-decoration: none;
                                    padding: 0.5% 1%;
                                }
                                a:hover {
                                    color: black;
                                    background-color: white;
                                    border-radius: 20px;
                                }
                            }
                            .conversations {
                                .message-1, .message-3 {
                                    .message {
                                    color: white;
                                    background-color: #1D7AD6;
                                    padding: 1.5% 2%;
                                    border-top-left-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                    border-bottom-right-radius: 0%;
                                    border-top-right-radius: 20px;
                                    }
                                    i {
                                        font-size: 30px;
                                    }
                                    p {
                                        .date-and-time {
                                            color: lightgray;
                                        }
                                    }
                                }
                                .message-2 {
                                    direction: ltr;
                                    .message {
                                        color: gray;
                                        background-color: lightgray;
                                        padding: 1.5% 2%;
                                        border-top-left-radius: 20px;
                                        border-bottom-left-radius: 0%;
                                        border-bottom-right-radius: 20px;
                                        border-top-right-radius: 20px;
                                        direction: rtl;
                                    }
                                    img {
                                        width: 50px;
                                    }
                                        p {
                                        .date-and-time {
                                            color: lightgray;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .footer {
                    // position: fixed;
                    // bottom: 0;
                    p {
                        color: gray;
                    }
                }
            }
        }
    }
}



