// add font here .



@mixin flex-manager($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    body {
        margin: 0;
        padding: 0;
        //font-family: ;
        direction: rtl;
        .container {
            @include flex-manager(row, unset, unset);
            .right-section {
                .sidebar {
                @include flex-manager(column, unset, space-between);
                width: 240px;
                background-color: #F1F2F7;
                .company-name {
                    position: fixed;
                    top: 0;
                }
                    .menu-options {
                    @include flex-manager(column, unset, unset);
                    margin-top: 80px;
                    a {
                        color: gray;
                        text-decoration: none;
                        padding: 5%;
                    }
                    .menu, .others {
                        padding: 5%;
                        color: gray;
                    }
                    }
                    .company-logo {
                        position: fixed;
                        bottom: 0;
                    }
                }
            }
            .left-section {
                .navbar {
                        @include flex-manager(row, unset, space-between);
                        // border-bottom: 1px solid lightgray;
                    .search-box {
                        input {
                            background-color: #F6F6FB;
                            border: none;
                            border-radius: 5px;
                            width: 400px;
                        }
                    }
                    .user-account {
                        position: fixed;
                        left: 0;
                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
                .footer {
                    position: fixed;
                    bottom: 0;
                    p {
                        color: gray;
                    }
                }
            }
        }
    }
}



