<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزئیات تیکت</title>
</head>
<body>
    

    <div class="container">
        <div class="right-section">
            <div class="sidebar">
                <!-- main side bar -->
                <div class="company-name">
                    <img src="../assets/images/estinoSoftLogo.svg" alt="company name">
                </div>
                <div class="menu-options">
                    <!-- menu options -->
                     <div class="menu">منو</div>
                     <a href="#" class="option-1">
                        <img src="../assets/icons/dashboard.svg" alt="داشبورد">
                        <span>داشبورد</span>
                     </a>
                     <a href="#" class="option-2">
                        <img src="../assets/icons/dashboard.svg" alt="تیکت ها">
                        <span>تیکت ها</span>
                     </a>
                     <a href="#" class="option-3">
                        <img src="../assets/icons/dashboard.svg" alt="تیکت جدید">
                        <span>تیکت جدید</span>
                     </a>
                     <a href="#" class="option-4">
                        <img src="../assets/icons/dashboard.svg" alt="پیام ها">
                        <span>پیام ها</span>
                     </a>
                     <a href="#" class="option-5">
                        <img src="../assets/icons/dashboard.svg" alt="پایگاه دانش">
                        <span>پایگاه دانش</span>
                     </a>
                     <div class="others">OTHERS</div>
                     <a href="#" class="other-option-1">
                        <img src="../assets/icons/dashboard.svg" alt="تنظیمات">
                        <span>تنظیمات</span>
                     </a>
                     <a href="#" class="other-option-2">
                        <img src="../assets/icons/dashboard.svg" alt="حساب من">
                        <span>حساب من</span>
                     </a>
                     <a href="#" class="other-option-3">
                        <img src="../assets/icons/dashboard.svg" alt="کمک">
                        <span>کمک</span>
                     </a>
                </div>
                <div class="company-logo">
                    <!-- company logo -->
                     <img src="../assets/logos/company-logo.svg" alt="company logo">
                     <span>نسخه 3.4.15</span>
                </div>
            </div>
        </div>
        <div class="left-section">
            <div class="navbar">
                <!-- main navbar -->
            </div>
            <div class="main-content">
                <!-- main content -->
            </div>
            <div class="footer">
                <!-- footer -->
            </div>
        </div>
    </div>







</body>
</html>