<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزئیات تیکت</title>
    <link rel="stylesheet" href="../style/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
</head>
<body>
    

    <div class="container">
        <div class="right-section">
            <div class="sidebar">
                <!-- main side bar -->
                <div class="company-name">
                    <img src="../assets/images/estinoSoftLogo.svg" alt="company name">
                </div>
                <div class="menu-options">
                    <!-- menu options -->
                     <div class="menu">منو</div>
                     <a href="#" class="option-1">
                        <img src="../assets/icons/dashboard.svg" alt="داشبورد">
                        <span>داشبورد</span>
                     </a>
                     <a href="#" class="option-2">
                        <img src="../assets/icons/myTickets.svg" alt="تیکت ها">
                        <span>تیکت ها</span>
                     </a>
                     <a href="#" class="option-3">
                        <img src="../assets/icons/newTicket.svg" alt="تیکت جدید">
                        <span>تیکت جدید</span>
                     </a>
                     <a href="#" class="option-4">
                        <img src="../assets/icons/messages.svg" alt="پیام ها">
                        <span>پیام ها</span>
                     </a>
                     <a href="#" class="option-5">
                        <img src="../assets/icons/messages.svg" alt="پایگاه دانش">
                        <span>پایگاه دانش</span>
                     </a>
                     <div class="others">OTHERS</div>
                     <a href="#" class="other-option-1">
                        <img src="../assets/icons/Setting.svg" alt="تنظیمات">
                        <span>تنظیمات</span>
                     </a>
                     <a href="#" class="other-option-2">
                        <img src="../assets/icons/Profile.svg" alt="حساب من">
                        <span>حساب من</span>
                     </a>
                     <a href="#" class="other-option-3">
                        <img src="../assets/icons/help.svg" alt="کمک">
                        <span>کمک</span>
                     </a>
                </div>
                <div class="company-logo">
                    <!-- company logo -->
                     <img src="../assets/logos/company-logo.svg" alt="company logo">
                     <span>نسخه 3.4.15</span>
                </div>
            </div>
        </div>
        <div class="left-section">
            <div class="navbar">
                <!-- main navbar -->
                <div class="search-box">
                    <input type="search" name="search" placeholder="جستجو">
                </div>
                <div class="user-account">
                    <img src="" alt="user account image">
                    <a href="#">حساب کاربری</a>
                    <!-- dropdown icon -->
                    <img src="../assets/icons/chevron-down.svg" alt="dropdown icon">
                    <!-- bell icon -->
                </div>




            </div>
            <div class="main-content">
                <!-- main content -->
            </div>
            <div class="footer">
                <!-- footer -->
                <p>کلیه حقوق مادی و معنوی متعلق به شرکت راهبرد سیستم ایساتیس می باشد.</p>
            </div>
        </div>
    </div>






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>